@import './base.css';

body {
    font-family: var(--mainFont);
    background-color: #eee;
}

.menu {
    display: none;
}

.header {
    background-color: #fff;
    padding: 20px 0;
}

.header .logo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px;
}

.header .logo img {
    width: 30px;
}

.header .logo a {
    color: var(--mainColor);
    font-family: Roboto;
}

.header .nav ul {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.header .nav ul li a {
    color: #101928;
}

.active {
    font-weight: 900;
}

.auth {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.auth a {
    border: 2px solid var(--mainColor);
    font-family: var(--subFont);
    padding: 8px 30px;
    border-radius: 5px;

}

.auth .login {
    color: var(--mainColor);
    font-weight: 700;
}

.auth .register {
    color: #fff;
    background-color: var(--mainColor);
}

/* media header */
@media screen and (max-width:992px) {

    .nav,
    .auth {
        display: none;
    }

    .menu {
        display: block;
    }
}

@media screen and (max-width:576px) {
    .container {
        width: calc(100% - 50px);
    }

    .header .logo img {
        width: 20px;
    }

    .header .logo a {
        font-size: 14px;
    }
}

.statistics {
    padding: 50px 0;
    background: linear-gradient(180deg, #545be8 0%, #272db0 100%);
}

.statistics .row {
  gap: 50px;
}

.statistics-left {
    width: calc(35% - 50px);
}

.statistics-left img {
   width: 100%;
   height: 100%;
}

.statistics-right {
   width: calc(60% - 50px);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
}

.statistics-description {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
}

.statistics-right .statistics-right-top {
    color: #F0C932;
    font-family: var(--subFont);
    font-weight:300;
}

.statistics-right h2 {
    color: #fff;
    font-family: var(--mainFont);
    font-size: 30px;
}

.statistics-right p {
    color: #DDDD;
    font-family: var(--mainFont);
}
.statistic span{
    font-family: var(--subFont);
}
.statistic span:nth-child(1){
    color: #F0C932;
    font-weight: 700;
    font-size: 20px;
}
.statistic span:nth-child(2){
color: #fff;
}

.statistics-info {
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
}

.statistics-info .statistic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* media statistics */
@media screen and (max-width:992px) {
    
        .statistics-left,
        .statistics-right {
            width: 100%;
        }
        .statistics-left{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .statistics-right{
            align-items: center;
            justify-content: center;
        }
}

@media screen and (max-width:576px) {
    .statistics-info{
        flex-direction: column;
        gap: 20px;
    }
 
}









.courses {
    padding: 50px 0;
}

.courses .row {
    gap: 40px;
}

.course-left {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: calc((100% - 40px) / 2);
}

.course-item {
    width: calc((100% - 20px) / 2);
}

.course img {
    width: 100%;
    height: 100%;
    display: flex;
    filter: brightness(0.7);
}

.course-card {
    position: relative;
}


.course-info {
    position: absolute;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    color: #fff;
    padding: 15px 15px 15px 0;
    box-sizing: border-box;
}

.course-info span {
    font-weight: 700;
    font-family: var(--mainFont);
}

.course-info span:nth-child(1) {
    background-color: var(--mainColor);
    font-size: 12px;
    align-self: flex-start;
    padding: 5px;
}

.course-info span:nth-child(2) {
    align-self: flex-end;
}

.course-description {
    background-color: #fff;
    padding: 20px 10px;
}

.course-title {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-family: var(--mainFont);
    justify-content: space-between;
}

.course-title h2 {
    font-size: 20px;
    font-weight: 700;
}

.course-title span {
    color: var(--mainColor);
    font-size: 10px;

}

.course-content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
    font-family: var(--mainFont);
}

.course-content span {
    color: #969696;
    font-size: 12px;
}

.course-right {
    width: calc((100% - 40px) / 2);
    align-self: flex-start;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 15px;
}

.course-right span:nth-child(1) {
    color: var(--mainColor);
    font-family: var(--subFont);
}

.course-right h2 {
    font-family: var(--mainFont);
    font-size: 30px;
}

.course-right p {
    font-family: var(--mainFont);
    color: #969696;
}

.course-right a {
    color: #fff;
    background-color: var(--mainColor);
    border: 2px solid var(--mainColor);
    font-family: var(--subFont);
    padding: 8px 30px;
    border-radius: 5px;
    align-self: flex-start;
}

/* media courses */
@media screen and (max-width:1200px) {

    .course-left,
    .course-right {
        width: 100%;
    }

}

@media screen and (max-width:576px) {

    .course-item {
        width: 100%;
    }

}



.testimonials {
    padding: 40px 0;
}

.testimonials .row {
    gap: 40px;
}

.testimonial {
    width: calc((100% - 40px) /2);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    background-color: #fff;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.testimonial::after {
    content: '';
    top: 0;
    right: 0;
    position: absolute;
    border-right: 30px solid #F4F4F4;
    border-left: 30px solid transparent;
    border-top: 30px solid #F4F4F4;
    border-bottom: 30px solid transparent;
}

.testimonials h2 {
    text-align: center;
    font-family: Mada;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
}

.testimonials .user-data {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
}

.testimonials .user-photo img {
    width: 50px;
    border-radius: 50%;
}

.testimonials h3 {
    font-family: var(--mainFont);
}

.testimonial .user-info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.testimonials span {
    font-family: var(--mainFont);
    color: #969696;
}

.testimonials q {
    font-family: var(--mainFont);
    color: #646464;
}


.testimonial .rating {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}



/* media testimonials */
@media screen and (max-width:768px) {
    .testimonial {
        width: 100%;
    }
}

.footer {
    background-color: #393E46;
    color: #fff;
    padding: 50px 0;
}

.footer a {
    color: #fff;
}

.footer-left-side {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
    width: 500px;
}

.footer-left-side .logo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px;
}

.footer-left-side .logo img {
    width: 30px;
}

.footer-left-side a {
    font-family: Roboto;
}

.footer-left-side .icons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.footer-left-side .icons img {
    width: 25px;
    height: 25px;
    border: 1px solid #fff;
    padding: 5px;
}

.footer-right-side {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer-right-side .footer-item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.footer-right-side .footer-item nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

/* media header */
@media screen and (max-width:1200px) {

    .footer-left-side,
    .footer-right-side {
        width: 100%;
    }

    .footer .row {
        gap: 10px;
    }
}

@media screen and (max-width:768px) {
    .footer-item {
        width: calc(50% - 10px);
    }

    .footer-right-side {
        gap: 10px;
    }
}

@media screen and (max-width:400px) {
    .footer-item {
        width: 100%;
        text-align: center;
    }
}